[Globals]
ListenAddress=127.0.0.1
EnableUserWindowManager=true
UserWindowManager=startwm.sh
DefaultWindowManager=startwm.sh

[Security]
AllowRootLogin=false
AllowGroups=remoteusers
DenyUsers=root
MaxLoginRetry=3

[Sessions]
EndSessionCommand={CLEANUP_SCRIPT_PATH}
SessionVariables=DBUS_SESSION_BUS_ADDRESS
Policy=Default
MaxSessions=1

[Logging]
LogFile=/var/log/xrdp-sesman.log
LogLevel=INFO
EnableSyslog=true
SyslogLevel=INFO

[X11rdp]
param=Xorg

[Xorg]
param=Xorg
